<DOCTYPE html>
    <html lang = "en">
        <head>
            <!-- <meta charset="UTF-8"> -->
            <title>Memory Card Game</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>

          <div id = "container">
            <img src = "img/banner2.png" alt="banner"/>
            <aside id = "text">
                <h1>MEMORY GAME</h1>
                <h3>Try matching the facts below as best you can, through memory!</h3>
                <h4>
                    Each card will have a mathematical equation, definition, or name of the formula 
                    (e.g. distance formula, fundamental theorem of calculus, etc.).
                    Click on any random card, then pick another random card. If they match, awesome! 
                    If not, keep in mind where the two cards were. Continue clicking on more pairs to get matches, 
                    until you've reached all of them!
                </h4>
                <!-- <button onClick="window.location.reload();">Refresh Page</button> -->
            </aside>

            <section id = "memory-game">
                
                <div class = "memory-card" data-framework="title1">
                    <img class="front-face" src="img/title1.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title2">
                    <img class="front-face" src="img/title2.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title3">
                    <img class="front-face" src="img/title3.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title4">
                    <img class="front-face" src="img/title4.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title5">
                    <img class="front-face" src="img/title5.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title6">
                    <img class="front-face" src="img/title6.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title7">
                    <img class="front-face" src="img/title7.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title8">
                    <img class="front-face" src="img/title8.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title1">
                    <img class="front-face" src="img/form1.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title2">
                    <img class="front-face" src="img/form2.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title3">
                    <img class="front-face" src="img/form3.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title4">
                    <img class="front-face" src="img/form4.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title5">
                    <img class="front-face" src="img/form5.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title6">
                    <img class="front-face" src="img/form6.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title7">
                    <img class="front-face" src="img/form7.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
                <div class = "memory-card" data-framework="title8">
                    <img class="front-face" src="img/form8.jpg"
                    alt="Flower Card"/>
                    <img class="back-face" src="img/MemoryCardAL1.jpg"
                    alt="Activitree Memory Card"/>
                </div>
              
            </section>        

          </div>
          
        </body>
    </html>