
<mat-sidenav-container class="example-container">
    <mat-sidenav opened mode="side" class="side-bar">
        <h2>Categories</h2>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Search Posts</mat-label>
              <mat-icon matPrefix>search</mat-icon>
              <input type="text" matInput >
            </mat-form-field>
          </form>
        <mat-selection-list #categories [multiple]="false">
            <mat-list-option *ngFor="let category of typesOfCategory" [value]="category">
              {{category}}
            </mat-list-option>
          </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav opened mode="side" class="side-bar" position="end">
        <h2>Find your College</h2>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Search Colleges</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input type="text" matInput >
          </mat-form-field>
        </form>
    </mat-sidenav>
    
    <div class="main">

        <h1 style="text-align: center; padding-top: 2%;">Welcome to the Activitree Forum!</h1>

        <div class="createPost">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>add</mat-icon>
            </button>
            <h3 style="display:inline-block; padding:10px;">Create New Post</h3>
        
        </div>
          
        
        <div class="posts">
        <h1>Explore</h1>

        <div *ngFor="let post of Posts">
          <mat-card class="example-card">
              <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ post.title }}<mat-card-subtitle>{{post.category}}</mat-card-subtitle></mat-card-title>
              <mat-card-subtitle>Posted by {{ post.user }} {{ post.date }}</mat-card-subtitle>
              </mat-card-header>
            
              <mat-card-content>
              <p>
                  {{ post.content }}
              </p>
              </mat-card-content>
              <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
              <button mat-button>COMMENT</button>
              </mat-card-actions>
          </mat-card>
      </div>
    </div>
    </div>
    
</mat-sidenav-container>