#sidenavContainer{
  height: 100%;
}

mat-sidenav-container{
  vertical-align: middle;
}

mat-sidenav {
  width: 15%;
  vertical-align: middle;
}

.maincontent{
  margin: 5%;
}

.sub-item{
  font-weight: normal;
}

h1{
  text-align: center;
  font-size: 3rem;
  padding-bottom: 40px;
}

h2{
  font-weight: normal;
}


.testmenu {
 width: 41%;
 border: 3px solid darkblue;
 background-color: white;
 margin-left: 370px;
}


.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
