.pagecontainer{
    margin: 5% 8%;
}

h1{
    font-size: 2.5rem;
    padding-bottom: 3%;
}

h2{
    font-weight: normal;
    padding-bottom: 10px;
}

table{
    width: 80%;
}


td{
    font-size: 1.2rem;
}

.connect-button{
    text-align: right;
}

.card{
    margin: 5px 0px;
}
