<div class="container">
    <mat-card style="padding: 32px">
        <mat-card-title>Sign in</mat-card-title>
        <div class="vertical-spacer"></div>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <div fxLayout="column">
                    <mat-form-field hideRequiredMarker>
                        <input matInput placeholder="Username" type="text" required>
                        <mat-icon matSuffix>account_box</mat-icon>
                        <mat-error ></mat-error>
                    </mat-form-field>
                    <mat-form-field hideRequiredMarker>
                        <input matInput placeholder="Password" type="password" required>
                        <mat-icon matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <mat-checkbox color="primary">Keep me signed in</mat-checkbox>
                </div>
                
                <div class="vertical-spacer"></div>

                <div fxFill fxLayout="row" fxLayoutAlign="space-around strech">
                    <button mat-raised-button color="primary">Sign in</button>
                    <button mat-raised-button>Register</button>
                </div>

                <div class="vertical-spacer"></div> 
    
                <button mat-raised-button color="blue" (click)="login()">
                    <img height="24px" width="24px" src="https://madeby.google.com/static/images/google_g_logo.svg">
                    <span> Login with Google</span>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
