<div id="container">
    <mat-horizontal-stepper #stepper linear="true" fxFlex="80%">
        <mat-step [stepControl]="profileForm">
            <form [formGroup]="profileForm" fxLayout="column" style="padding-top:50px" (ngSubmit)="submitProfile()">
                <ng-template matStepLabel>Create your profile</ng-template>

                <mat-form-field style="width:30vw" appearance="standard">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Firstname Lastname" formControlName="name">
                </mat-form-field>

                <mat-form-field style="width:30vw" appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="example@email.com" formControlName="email">
                </mat-form-field>

                <mat-form-field style="width:30vw" appearance="standard">
                    <mat-label>School</mat-label>
                    <input matInput placeholder="ex: Davis High School" formControlName="highSchool">
                </mat-form-field>

                <mat-form-field style="width:30vw">
                    <mat-label>Current Grade in School</mat-label>
                    <mat-select formControlName="grade">
                        <mat-option *ngFor="let grade of grades" [value]="grade">
                            {{grade}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button color="primary" matStepperNext type="submit">Next</button>
            </form>
        </mat-step>

        <mat-step>
            <div style="padding-top:50px">
                <ng-template matStepLabel>Choose your subjects</ng-template>
                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList aria-label="Subject selection">
                        <mat-chip *ngFor="let subject of subjects" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(subject)">
                            {{subject}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New subject..." #subjectInput [formControl]="subjectCtrl"
                            [matAutocomplete]="auto" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject">
                            {{subject}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <div fxFill fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button mat-raised-button mat-button matStepperPrevious>Back</button>
                    <button mat-raised-button mat-button color="primary" 
                            (click)="submitSubjects()"
                            routerLink="/dashboard">Continue to home page -></button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>