<p>create-profile works!</p>
<h1>{{title}}</h1>
<form>
    <input type="text" name="name" id="name" placeholder="Enter your name">
    <br>
    <br>
    <input type="text" name="email" placeholder="Enter your email">
    <br>
    <br>
    <input type="text" name="DOB" placeholder="mm/dd/yyyy">
    <br>
    <br>
    <input type="text" name="school" placeholder="School">
    <br>
    <br>
    <select name="grade">
        <option value="none">Current Grade in School:</option>
        <option value="grade1">Freshman</option>
        <option value="grade2">Sophomore</option>
        <option value="grade3">Junior</option>
        <option value="grade4">Senior</option>
    </select>
    <br>
    <br>
    <button type="submit" name="submit">Submit</button>
</form>