#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    padding: 32px; 
    min-width: 256px;
    max-width: 320px;
}

.vertical-spacer {
    height: 16px;
}

#register-btn {
    width: 96px;
    align-self: center;
}

/* 
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

  body, input[type="text"], button {
    color: #333;
    font-family: Cambria;
  }
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  form{
    text-align: center;

  }
  input{
    text-align: center;
    width: 100%;
    border-radius: 15px;
    border: 2px solid rgb(164, 203, 235);
    padding: 20px; 
    width: 200px;
    height: 0px; 
  }

  b{
    width: 100px;
  }

  button{
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(109, 128, 189);
    padding: 5px; 
    width: 70px;
    background-color: white;
  }

  select{
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(164, 203, 235);
    padding: 5px;
    width: 250px; 
  }

  body{
    background: rgb(255, 255, 255);
  }
*/
