<div id="container">

    <mat-card id="card">
        <mat-card-title>Sign up</mat-card-title>

        <div class="vertical-spacer"></div>

        <div *ngIf="busy">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <div class="vertical-spacer"></div>
        </div>

        <mat-card-content>
            <div *ngIf="!verificationEmailSent; else verification" fxLayout="column" fxLayoutAlign="strech">
                <div fxLayout="column">
                    <mat-form-field hideRequiredMarker>
                        <input #emailField="ngModel" matInput [(ngModel)]="email" placeholder="Email" type="text" required email [disabled]="busy">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="emailField.invalid && emailField.errors.email">Invalid Email Format</mat-error>
                    </mat-form-field>

                    <mat-form-field hideRequiredMarker>
                        <input #passwordField="ngModel" matInput [(ngModel)]="password" placeholder="Password" type="password" required minlength="8" [disabled]="busy">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-error *ngIf="passwordField.invalid && passwordField.errors.minlength">Password must conatin at least 8 characters</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field hideRequiredMarker>
                        <input #passwordConfirmField="ngModel" matInput [(ngModel)]="passwordConfirm" placeholder="Confirm Password" type="password" [pattern]="password" required [disabled]="busy">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-error *ngIf="passwordConfirmField.invalid && passwordConfirmField.errors.pattern">Inconsistent Password</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="vertical-spacer"></div>

                <button id="register-btn" mat-raised-button color="primary" [disabled]="busy"
                        (click)="register(emailField, passwordField, passwordConfirmField)">
                        Sign up
                </button>
            </div>

            <ng-template #verification>
                Please check your email ({{email}}) and follow the link to finish registration. 
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>

<!--
<h1>{{title}}</h1>
<head>
  <meta charset = "utf-8">
  <title></title>
</head> 
<body>
  <form>
    <input type="text" name="name" id = "name" placeholder="Enter your name">
    <br>
    <br>
    <input type="text" name="email" placeholder="Enter your email">
    <br>
    <br>
    <input type="text" name="DOB" placeholder = "mm/dd/yyyy">
    <br>
    <br>
    <input type="text" name="school" placeholder="School">
    <br>
    <br>
    <select name="grade">
      <option value = "none">Current Grade in School:</option>
      <option value = "grade1">Freshman</option>
      <option value = "grade2">Sophomore</option>
      <option value = "grade3">Junior</option>
      <option value = "grade4">Senior</option>
    </select>
    <br>
    <br>
    <button type = "submit" name = "submit">Submit</button>
  </form>
</body>


-->