#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    padding: 32px; 
    min-width: 256px;
    max-width: 320px;
}

.vertical-spacer {
    height: 16px;
}

#register-btn {
    width: 96px;
    align-self: center;
}