@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600&display=swap');

// @font-face {
//     font-family: 'Palanquin Dark';
//     src: url('assets/fonts/Palanquin_Dark/PalanquinDark-Regular.ttf') format("opentype");
//   }

.pagecontainer {
    height: 93.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('src/assets/images/Treehouselandingpage_graphic-01.png') no-repeat;
    background-size: cover;
    overflow-y: hidden;
}


h1{
    font-size: 4em;
    padding-top: 2%;
    font-family: 'Palanquin Dark', sans-serif;
}

p{
    font-size: 1.6em;
    padding-top: 4%;
}

.green{
    color: rgb(7, 169, 107);
}

.buttons{
    padding-top: 5%;
    // text-align: center;
}

.choosebutton {
	background-color:#484ad8;
    border-radius:28px;
    border: 2px solid transparent;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
    text-decoration:none;
    transition: 0.25s;
    margin-right: 20px;
}

.choosebutton:hover {
    border:2px solid #484ad8;
    background: transparent;
    color: #484ad8;
}

