#userProfile{
    border: 5px solid #7B68EE;
    font-family: 'Fredoka One', cursive;
}

#continueFromPrev{
    border: 5px solid #7B68EE;
    font-family: 'Fredoka One', cursive;
}

#recs{
    border: 5px solid #7B68EE;
    font-family: 'Fredoka One', cursive;
}

#otherRelatedTopics{
    border: 5px solid #7B68EE;
    font-family: 'Fredoka One', cursive;
}

*{
    margin: 5px;
    overflow-y: hidden;
}

.example-card {
    border: 2px solid #7B68EE;
    font-family: 'Fredoka One', cursive;
    max-width: 300px;
  }
  
