<head>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
    </style>
</head>

<div fxFill fxFlexAlign="start">
    <div fxFlex="20" id="userProfile">
        <p>This is the user profile div</p>
    </div>
    <div fxFlex="60" fxLayout="column" fxLayoutAlign="center">
        <div fxFlex="50" id="continueFromPrev">
            <p>User continues from previous progress here</p>
        </div>
        <div fxFlex="50" id="recs">
            <p>User's recommendations here</p>
        </div>
    </div>
    <div fxFlex="20" id="otherRelatedTopics">
        <p>Users other related topics go here</p>
    </div>
</div>
