#userProfile{
    //border: 5px solid #7B68EE;
    //box-shadow: 10px 5px 5px rgb(27, 105, 165);
    background-color: white;
    border-radius: 2em 2em;
    font-family: 'Fredoka One', cursive;
}

#continueFromPrev{
    // border: 5px solid #7B68EE;
    //box-shadow: 10px 5px 5px rgb(27, 105, 165);
    background-color: white;
    border-radius: 2em 2em;
    font-family: 'Fredoka One', cursive;
}

#recs{
   /*  border: 5px solid #7B68EE; */
   //box-shadow: 10px 5px 5px rgb(27, 105, 165);
   background-color: white;
   border-radius: 2em 2em;
   font-family: 'Fredoka One', cursive;
}

#otherRelatedTopics{
    /*border: 5px solid #7B68EE;*/
    //box-shadow: 10px 5px 5px rgb(27, 105, 165);
    background-color: white;
    border-radius: 2em 2em;
    font-family: 'Fredoka One', cursive;
}

*{
    margin: 5px;
    overflow-y: hidden;
}

.example-card {
    //border: 2px solid #7B68EE;
    //box-shadow: 10px 5px 5px blue;
    background-color: white;
    font-family: 'Fredoka One', cursive;
    border-radius: 2em 2em;
    max-width: 300px;
  }
  
