<head>
    <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<div class="pagecontainer">
    <div class="title">
        <h1>Welcome to <span class="green">Treehouse</span></h1>
        <p>Choose one of the options below to get started!</p>
        <div class="buttons">
            <a class="choosebutton" routerLink="/login">I am a college student</a>
            <a class="choosebutton" routerLink="/login">I am a high school student</a> 
        </div>
    </div>
</div>