<div fxFill fxFlexAlign="start" id="start">
    <div fxFlex="20" class="tile" id="userProfile" fxLayout="column" fxLayoutAlign="start center">
        <img id="avatar" [src]="firebaseUser?.photoURL">
        <h2 class="heading">{{firebaseUser?.displayName}}</h2>
        <p>{{firebaseUser?.email}}</p>
        <p>{{user?.highSchool}}</p>
        <p>Grade {{user?.grade}}</p>
        <p>{{user?.subjects}}</p>
    </div>
    <div fxFlex="55" fxLayout="column" fxLayoutAlign="center" class="middle-column">
        <div fxFlex="50" id="currentProgress" class="tile">
            <h2 class="heading">Your Progress</h2>
            <p>No progress to show. Begin a module today!</p>
        </div>
        <div fxFlex="50" id="recs" class="tile">
            <h2 class="heading">Recommended Games</h2>
            <div fxLayout="row">

                <mat-card fxFlex="30" class="example-card">
                    <mat-card-header>
                        <mat-card-title>Game1</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            some content/pics here
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary" routerLink="quiz-calculus">Play</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card fxFlex="30" class="example-card">
                    <mat-card-header>
                        <mat-card-title>Game2</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            some content/pics here
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary">Play</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div fxLayout="row">

                <mat-card fxFlex="30" class="example-card">
                    <mat-card-header>
                        <mat-card-title>Game3</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            some content/pics here
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary">Play</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card fxFlex="30" class="example-card">
                    <mat-card-header>
                        <mat-card-title>Game4</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            some content/pics here
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="primary">Play</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div fxFlex="25" fxLayout="column" id="to-do" class="tile">
        <h2 class="heading">To-Do</h2>
        <table>
            <tr *ngFor="let todo of todos">
                <td *ngIf="!todo.editing" [ngClass]="{ 'completed' : todo.done }"><mat-checkbox color="primary" [(ngModel)]="todo.done">{{todo.title}}</mat-checkbox></td>
                <td *ngIf="todo.editing && itemToEdit.id==todo.id" (keyup.enter)="updateTask(todo)"><mat-checkbox color="primary" [(ngModel)]="todo.done"><input type="text" class="editable" [(ngModel)]="todo.title"></mat-checkbox></td>
                <td class="right-align"><button class="edit-button" (click)="editTask($event,todo)"><mat-icon class="edit-icon">edit</mat-icon></button></td>
                <td class="right-align"><button class="delete-button" (click)="deleteTask(todo)"><mat-icon class="delete-icon">delete_outline</mat-icon></button></td>
            </tr>
        </table>
        <input type="text" placeholder="Enter task..." [(ngModel)]="newTask.title" name="title">
        <button mat-button color="primary" (click)="addTask(newTask.title);">Add Task</button>
    </div>
</div>