@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#start {
    margin: 0;
    background-color: rgb(231, 231, 231);
}

#userProfile {
    //border: 5px solid #7B68EE;
    box-shadow: 1px 1px 6px rgb(60,0,200);
    background-color: white;
    border-radius: 5px 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
#continueFromPrev {
    // border: 5px solid #7B68EE;
    box-shadow: 1px 1px 6px rgb(60,0,200);
    background-color: white;
    border-radius: 5px 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

#recs {
    /*  border: 5px solid #7B68EE; */
    box-shadow: 1px 1px 6px rgb(60,0,200);
    background-color: white;
    border-radius: 5px 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

#otherRelatedTopics {
    /*border: 5px solid #7B68EE;*/
    box-shadow: 1px 1px 6px rgb(60,0,200);
    background-color: white;
    border-radius: 5px 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 5px;
    overflow-y: hidden;
}

.example-card {
    //border: 2px solid #7B68EE;
    //box-shadow: 10px 5px 5px blue;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px 5px;
    padding: 10px;
    max-width: 300px;
}
