@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#start {
    margin: 0;
    background-color: rgb(218, 221, 242);
}

.heading{
    color: rgb(57, 75, 193);
}

.tile {
    //border: 5px solid #7B68EE;
    box-shadow: 1px 1px 3px rgb(169, 169, 169);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

#avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

* {
    margin: 5px;
    overflow-y: hidden;
}

.example-card {
    //border: 2px solid #7B68EE;
    box-shadow: 1px 1px 6px rgb(64, 61, 201);
    background-color: white;
    border-radius: 5px 5px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}
