#userProfile{
    border: 5px solid green;
}

#continueFromPrev{
    border: 5px solid red;
}

#recs{
    border: 5px solid yellow;
}

#otherRelatedTopics{
    border: 5px solid blue;
}

*{
    margin: 5px;
    overflow-y: hidden;
}
